<h1 class="ui header">Artists</h1>
<%= link_to 'New Billboard', new_board_artist_path(@board) %>
<div class="ui divider"></div>

<div class="ui grid">
<% @artists.each do |artist| %>
<div class="sixteen wide mobile eight tablet four wide computer column">
<div class="ui card">
  <div class="image">
  # image here
  </div>
  <div class="content">
  <%= link_to "#{artist.name}", artist, class: "header" %>
  </div>
  <div class=extra content>
  <div class="ui two buttons">
  <div class="ui green button">
   <%= link_to "Edit", edit_board_path(board), class: "card-button" %>
  </div>
  <div class="ui red button">
   <%= link_to "Delete", board_path(board), method: :delete,  class: "card-button" %>
      </div>
  </div>
</div>
</div>
</div>
<% end %>
</div>

