<h1>Edit Song</h1>
<hr />

<%= render "form", song: @song %>

<br />
<br />
<%= link_to "View Song", board_songs_path, class: "btn blue" %>
<%= link_to "Back", board_song_path(@song), class: "btn black" %>