<div class="ui card">
<div class="image">
#image here
</div>
<div class="content">
<p class="header">
  <%= board.name %>
</p>
</div>
<div class="extra content">
  <%= link_to 'Edit', edit_board_path(@board) %>
  <%= link_to 'View Billboards', boards_path %>
  </div>
</div>